<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Submit form</title>
</head>
<body>
    <form action="{% url 'classification_app:process.form' %}" method="post">
        {% csrf_token %}
        <h1>Silahkan isi formulir di bawah ini.</h1>
        <label for="name">Nama</label>
        <input name="nama" type="text" placeholder="Nama anda"><br>

        <label for="usia">Usia</label>
        <input name="usia" type="number">

        <input type="submit" value="Submit">
    </form>
</body>
</html>