{% load static %}
<!-- Pertanyaan 1 -->
<div class="col-md-10 offset-md-1 q-wrap card-hide">
    <div class="icon animated rubberBand d-1">
        <img src="{% static 'images/family.svg' %}" alt="">
    </div>
    <div class="btn btn-info q-button">Next <i class="fa fa-arrow-down"></i></div>
    <div class="card card-property border-0 shadow mt-5">
        <div class="card-header">
            <div class="h2">Jumlah tanggungan orang tua?</div>
        </div>

        <div class="container p-5">

            <div class="row">

                <div class="col-md-6 mb-3">
                    <label for="tang1" class="wrapper">
                        <div class="card p-3" style="width: 100%">
                            <div class="check hide">
                                <i class="fas fa-check-circle"></i>
                            </div>
                            <div class="row">
                                <input type="radio" id="tang1" name="tanggungan" value="0">
                                <div class="col-12 text-center">
                                    1 Anak
                                </div>
                            </div>
                        </div>
                    </label>
                </div>

                <div class="col-md-6 mb-3">
                    <label for="tang2" class="wrapper">
                        <div class="card p-3" style="width: 100%">
                            <div class="check hide">
                                <i class="fas fa-check-circle"></i>
                            </div>
                            <div class="row">
                                <input type="radio" id="tang2" name="tanggungan" value="1">
                                <div class="col-12 text-center">
                                    1 Anak + Tanggungan Lainya
                                </div>
                            </div>
                        </div>
                    </label>
                </div>

                <div class="col-md-6 mb-3">
                    <label for="tang3" class="wrapper">
                        <div class="card p-3" style="width: 100%">
                            <div class="check hide">
                                <i class="fas fa-check-circle"></i>
                            </div>
                            <div class="row">
                                <input type="radio" id="tang3" name="tanggungan" value="2">
                                <div class="col-12 text-center">
                                    2 Anak
                                </div>
                            </div>
                        </div>
                    </label>
                </div>

                <div class="col-md-6 mb-3">
                    <label for="tang4" class="wrapper">
                        <div class="card p-3" style="width: 100%">
                            <div class="check hide">
                                <i class="fas fa-check-circle"></i>
                            </div>
                            <div class="row">
                                <input type="radio" id="tang4" name="tanggungan" value="3">
                                <div class="col-12 text-center">
                                    2 Anak + Tanggungan Lainya
                                </div>
                            </div>
                        </div>
                    </label>
                </div>

                <div class="col-md-6 mb-3">
                    <label for="tang5" class="wrapper">
                        <div class="card p-3" style="width: 100%">
                            <div class="check hide">
                                <i class="fas fa-check-circle"></i>
                            </div>
                            <div class="row">
                                <input type="radio" id="tang5" name="tanggungan" value="4">
                                <div class="col-12 text-center">
                                    3 Anak
                                </div>
                            </div>
                        </div>
                    </label>
                </div>

                <div class="col-md-6 mb-3">
                    <label for="tang6" class="wrapper">
                        <div class="card p-3" style="width: 100%">
                            <div class="check hide">
                                <i class="fas fa-check-circle"></i>
                            </div>
                            <div class="row">
                                <input type="radio" id="tang6" name="tanggungan" value="5">
                                <div class="col-12 text-center">
                                    3 Anak + Tanggungan Lainya
                                </div>
                            </div>
                        </div>
                    </label>
                </div>

                <div class="col-md-6 mb-3">
                    <label for="tang7" class="wrapper">
                        <div class="card p-3" style="width: 100%">
                            <div class="check hide">
                                <i class="fas fa-check-circle"></i>
                            </div>
                            <div class="row">
                                <input type="radio" id="tang7" name="tanggungan" value="6">
                                <div class="col-12 text-center">
                                    4 Anak
                                </div>
                            </div>
                        </div>
                    </label>
                </div>

                <div class="col-md-6 mb-3">
                    <label for="tang8" class="wrapper">
                        <div class="card p-3" style="width: 100%">
                            <div class="check hide">
                                <i class="fas fa-check-circle"></i>
                            </div>
                            <div class="row">
                                <input type="radio" id="tang8" name="tanggungan" value="7">
                                <div class="col-12 text-center">
                                    4 Anak + Tanggungan Lainya
                                </div>
                            </div>
                        </div>
                    </label>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- End of pertanyaan 1 -->