{% load static %}
<!-- Pertanyaan 1 -->
<div class="col-md-10 offset-md-1 q-wrap card-hide">
    <div class="icon animated rubberBand d-1">
        <img src="{% static 'images/girl.svg' %}" alt="">
    </div>
    <div class="btn btn-info q-button">Next <i class="fa fa-arrow-down"></i> </div>
    <div class="card card-property border-0 shadow mt-5">
        <div class="card-header">
            <div class="h2">Penghasilan utama Ibu?</div>
        </div>

        <div class="container p-5">

            <div class="row">
                <div class="col-md-4 mb-3">
                    <label for="i1" class="wrapper">
                        <div class="card p-3" style="width: 100%">
                            <div class="check hide">
                                <i class="fas fa-check-circle"></i>
                            </div>
                            <div class="row">
                                <input type="radio" id="i1" name="penghasilan_utm_ibu" value="0">
                                <div class="col-12 text-center">
                                    Tidak berpenghasilan
                                </div>
                            </div>
                        </div>
                    </label>
                </div>

                <div class="col-md-4 mb-3">
                    <label for="i2" class="wrapper">
                        <div class="card p-3" style="width: 100%">
                            <div class="check hide"><i class="fas fa-check-circle"></i></div>
                            <div class="row">
                                <input type="radio" id="i2" name="penghasilan_utm_ibu" value="1">
                                <div class="col-12 text-center">
                                    Lebih kecil sama dengan RP. 500.000
                                </div>
                            </div>
                        </div>
                    </label>
                </div>

                <div class="col-md-4 mb-3">
                    <label for="i3" class="wrapper">
                        <div class="card p-3" style="width: 100%">
                            <div class="check hide"><i class="fas fa-check-circle"></i></div>
                            <div class="row">
                                <input type="radio" id="i3" name="penghasilan_utm_ibu" value="2">
                                <div class="col-12 text-center">
                                    RP.500.001 - RP 1.000.000
                                </div>
                            </div>
                        </div>
                    </label>
                </div>

                <div class="col-md-4 mb-3">
                    <label for="i4" class="wrapper">
                        <div class="card p-3" style="width: 100%">
                            <div class="check hide"><i class="fas fa-check-circle"></i></div>
                            <div class="row">
                                <input type="radio" id="i4" name="penghasilan_utm_ibu" value="3">
                                <div class="col-12 text-center">
                                    RP.1.000.001 - RP 1.500.000
                                </div>
                            </div>
                        </div>
                    </label>
                </div>

                <div class="col-md-4 mb-3">
                    <label for="i5" class="wrapper">
                        <div class="card p-3" style="width: 100%">
                            <div class="check hide"><i class="fas fa-check-circle"></i></div>
                            <div class="row">
                                <input type="radio" id="i5" name="penghasilan_utm_ibu" value="4">
                                <div class="col-12 text-center">
                                    RP.1.500.001 - RP 2.000.000
                                </div>
                            </div>
                        </div>
                    </label>
                </div>

                <div class="col-md-4 mb-3">
                    <label for="i6" class="wrapper">
                        <div class="card p-3" style="width: 100%">
                            <div class="check hide"><i class="fas fa-check-circle"></i></div>
                            <div class="row">
                                <input type="radio" id="i6" name="penghasilan_utm_ibu" value="5">
                                <div class="col-12 text-center">
                                    RP.2.000.001 - RP 2.500.000
                                </div>
                            </div>
                        </div>
                    </label>
                </div>

                <div class="col-md-4 mb-3">
                    <label for="i7" class="wrapper">
                        <div class="card p-3" style="width: 100%">
                            <div class="check hide"><i class="fas fa-check-circle"></i></div>
                            <div class="row">
                                <input type="radio" id="i7" name="penghasilan_utm_ibu" value="6">
                                <div class="col-12 text-center">
                                    RP.2.500.001 - RP 3.000.000
                                </div>
                            </div>
                        </div>
                    </label>
                </div>

                <div class="col-md-4 mb-3">
                    <label for="i8" class="wrapper">
                        <div class="card p-3" style="width: 100%">
                            <div class="check hide"><i class="fas fa-check-circle"></i></div>
                            <div class="row">
                                <input type="radio" id="i8" name="penghasilan_utm_ibu" value="7">
                                <div class="col-12 text-center">
                                    RP.3.000.001 - RP 4.000.000
                                </div>
                            </div>
                        </div>
                    </label>
                </div>

                <div class="col-md-4 mb-3">
                    <label for="i9" class="wrapper">
                        <div class="card p-3" style="width: 100%">
                            <div class="check hide"><i class="fas fa-check-circle"></i></div>
                            <div class="row">
                                <input type="radio" id="i9" name="penghasilan_utm_ibu" value="8">
                                <div class="col-12 text-center">
                                    RP.4.000.001 - RP 5.000.000
                                </div>
                            </div>
                        </div>
                    </label>
                </div>

                <div class="col-md-4 mb-3">
                    <label for="i10" class="wrapper">
                        <div class="card p-3" style="width: 100%">
                            <div class="check hide"><i class="fas fa-check-circle"></i></div>
                            <div class="row">
                                <input type="radio" id="i10" name="penghasilan_utm_ibu" value="9">
                                <div class="col-12 text-center">
                                    RP.5.000.001 - RP 7.500.000
                                </div>
                            </div>
                        </div>
                    </label>
                </div>

                <div class="col-md-4 mb-3">
                    <label for="i11" class="wrapper">
                        <div class="card p-3" style="width: 100%">
                            <div class="check hide"><i class="fas fa-check-circle"></i></div>
                            <div class="row">
                                <input type="radio" id="i11" name="penghasilan_utm_ibu" value="10">
                                <div class="col-12 text-center">
                                    RP.7.500.001 - RP 10.000.000
                                </div>
                            </div>
                        </div>
                    </label>
                </div>

                <div class="col-md-4 mb-3">
                    <label for="i12" class="wrapper">
                        <div class="card p-3" style="width: 100%">
                            <div class="check hide"><i class="fas fa-check-circle"></i></div>
                            <div class="row">
                                <input type="radio" id="i12" name="penghasilan_utm_ibu" value="11">
                                <div class="col-12 text-center">
                                    RP 10.000.001 - RP 15.000.000
                                </div>
                            </div>
                        </div>
                    </label>
                </div>

                <div class="col-md-4 mb-3">
                    <label for="i13" class="wrapper">
                        <div class="card p-3" style="width: 100%">
                            <div class="check hide"><i class="fas fa-check-circle"></i></div>
                            <div class="row">
                                <input type="radio" id="i13" name="penghasilan_utm_ibu" value="12">
                                <div class="col-12 text-center">
                                    Lebih dari RP 15.000.000
                                </div>
                            </div>
                        </div>
                    </label>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- End of pertanyaan 1 -->