{% load static %}
<!-- Pertanyaan 1 -->
<div class="col-md-10 offset-md-1 q-wrap card-hide">
    <div class="icon animated rubberBand d-1">
        <img src="{% static 'images/idea.svg' %}" alt="">
    </div>
    <div class="btn btn-info q-button">Next <i class="fa fa-arrow-down"></i> </div>
    <div class="card card-property border-0 shadow mt-5">
        <div class="card-header">
            <div class="h2">Langganan daya listrik</div>
        </div>

        <div class="container p-5">

            <div class="row">
                <div class="col-md-4 mb-3">
                    <label for="listrik1" class="wrapper">
                        <div class="card p-3" style="width: 100%">
                            <div class="check hide">
                                <i class="fas fa-check-circle"></i>
                            </div>
                            <div class="row">
                                <input type="radio" id="listrik1" name="daya_listrik" value="0">
                                <div class="col-12 text-center">
                                    Tidak berlangganan
                                </div>
                            </div>
                        </div>
                    </label>
                </div>

                <div class="col-md-4 mb-3">
                    <label for="listrik2" class="wrapper">
                        <div class="card p-3" style="width: 100%">
                            <div class="check hide"><i class="fas fa-check-circle"></i></div>
                            <div class="row">
                                <input type="radio" id="listrik2" name="daya_listrik" value="1">
                                <div class="col-12 text-center">
                                    450W
                                </div>
                            </div>
                        </div>
                    </label>
                </div>

                <div class="col-md-4 mb-3">
                    <label for="listrik3" class="wrapper">
                        <div class="card p-3" style="width: 100%">
                            <div class="check hide">
                                <i class="fas fa-check-circle"></i>
                            </div>
                            <div class="row">
                                <input type="radio" id="listrik3" name="daya_listrik" value="2">
                                <div class="col-12 text-center">
                                    900W
                                </div>
                            </div>
                        </div>
                    </label>
                </div>

                <div class="col-md-4 mb-3">
                    <label for="listrik4" class="wrapper">
                        <div class="card p-3" style="width: 100%">
                            <div class="check hide"><i class="fas fa-check-circle"></i></div>
                            <div class="row">
                                <input type="radio" id="listrik4" name="daya_listrik" value="3">
                                <div class="col-12 text-center">
                                    1300W
                                </div>
                            </div>
                        </div>
                    </label>
                </div>

                <div class="col-md-4 mb-3">
                    <label for="listrik5" class="wrapper">
                        <div class="card p-3" style="width: 100%">
                            <div class="check hide">
                                <i class="fas fa-check-circle"></i>
                            </div>
                            <div class="row">
                                <input type="radio" id="listrik5" name="daya_listrik" value="4">
                                <div class="col-12 text-center">
                                    2200W
                                </div>
                            </div>
                        </div>
                    </label>
                </div>

                <div class="col-md-4 mb-3">
                    <label for="listrik6" class="wrapper">
                        <div class="card p-3" style="width: 100%">
                            <div class="check hide"><i class="fas fa-check-circle"></i></div>
                            <div class="row">
                                <input type="radio" id="listrik6" name="daya_listrik" value="5">
                                <div class="col-12 text-center">
                                    3500W
                                </div>
                            </div>
                        </div>
                    </label>
                </div>

                <div class="col-md-4 mb-3">
                    <label for="listrik7" class="wrapper">
                        <div class="card p-3" style="width: 100%">
                            <div class="check hide">
                                <i class="fas fa-check-circle"></i>
                            </div>
                            <div class="row">
                                <input type="radio" id="listrik7" name="daya_listrik" value="6">
                                <div class="col-12 text-center">
                                    4400W
                                </div>
                            </div>
                        </div>
                    </label>
                </div>

                <div class="col-md-4 mb-3">
                    <label for="listrik8" class="wrapper">
                        <div class="card p-3" style="width: 100%">
                            <div class="check hide"><i class="fas fa-check-circle"></i></div>
                            <div class="row">
                                <input type="radio" id="listrik8" name="daya_listrik" value="7">
                                <div class="col-12 text-center">
                                    5500W
                                </div>
                            </div>
                        </div>
                    </label>
                </div>

                <div class="col-md-4 mb-3">
                    <label for="listrik9" class="wrapper">
                        <div class="card p-3" style="width: 100%">
                            <div class="check hide">
                                <i class="fas fa-check-circle"></i>
                            </div>
                            <div class="row">
                                <input type="radio" id="listrik9" name="daya_listrik" value="8">
                                <div class="col-12 text-center">
                                    6600W
                                </div>
                            </div>
                        </div>
                    </label>
                </div>

                <div class="col-md-4 mb-3">
                    <label for="listrik10" class="wrapper">
                        <div class="card p-3" style="width: 100%">
                            <div class="check hide"><i class="fas fa-check-circle"></i></div>
                            <div class="row">
                                <input type="radio" id="listrik10" name="daya_listrik" value="9">
                                <div class="col-12 text-center">
                                    7700W
                                </div>
                            </div>
                        </div>
                    </label>
                </div>

                <div class="col-md-4 mb-3">
                    <label for="listrik11" class="wrapper">
                        <div class="card p-3" style="width: 100%">
                            <div class="check hide"><i class="fas fa-check-circle"></i></div>
                            <div class="row">
                                <input type="radio" id="listrik11" name="daya_listrik" value="10">
                                <div class="col-12 text-center">
                                    11000W ke atas
                                </div>
                            </div>
                        </div>
                    </label>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- End of pertanyaan 1 -->