{% load static %}
<!-- Pertanyaan 1 -->
<div class="col-md-10 offset-md-1 q-wrap card-hide">
    <div class="icon animated rubberBand d-1">
        <img src="{% static 'images/motorcycle.svg' %}" alt="">
    </div>
    <div class="btn btn-info q-button">Next <i class="fa fa-arrow-down"></i> </div>
    <div class="card card-property border-0 shadow mt-5">
        <div class="card-header">
            <div class="h2">Pajak kendaraan roda dua</div>
        </div>

        <div class="container p-5">

            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="rd21" class="wrapper">
                        <div class="card p-3" style="width: 100%">
                            <div class="check hide">
                                <i class="fas fa-check-circle"></i>
                            </div>
                            <div class="row">
                                <input type="radio" id="rd21" name="pajak_r2" value="0">
                                <div class="col-12 text-center">
                                    Tidak Memiliki
                                </div>
                            </div>
                        </div>
                    </label>
                </div>

                <div class="col-md-6 mb-3">
                    <label for="rd22" class="wrapper">
                        <div class="card p-3" style="width: 100%">
                            <div class="check hide"><i class="fas fa-check-circle"></i></div>
                            <div class="row">
                                <input type="radio" id="rd22" name="pajak_r2" value="1">
                                <div class="col-12 text-center">
                                    Lebih kecil sama dengan 150.000
                                </div>
                            </div>
                        </div>
                    </label>
                </div>

                <div class="col-md-6 mb-3">
                    <label for="rd23" class="wrapper">
                        <div class="card p-3" style="width: 100%">
                            <div class="check hide">
                                <i class="fas fa-check-circle"></i>
                            </div>
                            <div class="row">
                                <input type="radio" id="rd23" name="pajak_r2" value="2">
                                <div class="col-12 text-center">
                                    150.001 - 300.000
                                </div>
                            </div>
                        </div>
                    </label>
                </div>

                <div class="col-md-6 mb-3">
                    <label for="rd24" class="wrapper">
                        <div class="card p-3" style="width: 100%">
                            <div class="check hide"><i class="fas fa-check-circle"></i></div>
                            <div class="row">
                                <input type="radio" id="rd24" name="pajak_r2" value="3">
                                <div class="col-12 text-center">
                                    300.001 - 450.000
                                </div>
                            </div>
                        </div>
                    </label>
                </div>

                <div class="col-md-6 mb-3">
                    <label for="rd25" class="wrapper">
                        <div class="card p-3" style="width: 100%">
                            <div class="check hide">
                                <i class="fas fa-check-circle"></i>
                            </div>
                            <div class="row">
                                <input type="radio" id="rd25" name="pajak_r2" value="4">
                                <div class="col-12 text-center">
                                    450.001 - 650.000
                                </div>
                            </div>
                        </div>
                    </label>
                </div>

                <div class="col-md-6 mb-3">
                    <label for="rd26" class="wrapper">
                        <div class="card p-3" style="width: 100%">
                            <div class="check hide"><i class="fas fa-check-circle"></i></div>
                            <div class="row">
                                <input type="radio" id="rd26" name="pajak_r2" value="5">
                                <div class="col-12 text-center">
                                    650.001 - 850.000
                                </div>
                            </div>
                        </div>
                    </label>
                </div>

                <div class="col-md-6 mb-3">
                    <label for="rd27" class="wrapper">
                        <div class="card p-3" style="width: 100%">
                            <div class="check hide">
                                <i class="fas fa-check-circle"></i>
                            </div>
                            <div class="row">
                                <input type="radio" id="rd27" name="pajak_r2" value="6">
                                <div class="col-12 text-center">
                                    850.001 - 1.050.000
                                </div>
                            </div>
                        </div>
                    </label>
                </div>

                <div class="col-md-6 mb-3">
                    <label for="rd28" class="wrapper">
                        <div class="card p-3" style="width: 100%">
                            <div class="check hide"><i class="fas fa-check-circle"></i></div>
                            <div class="row">
                                <input type="radio" id="rd28" name="pajak_r2" value="7">
                                <div class="col-12 text-center">
                                    Lebih besar sama dgn 1.050.001
                                </div>
                            </div>
                        </div>
                    </label>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- End of pertanyaan 1 -->